<!-- 
 * Description:Vista que muestra un texto solicitado por el INAI
 * Author:Getsir
 * Email:development@getsir.mx 
 -->
<ion-view view-title="<img src='img/logo.png'>">
    </ion-nav-buttons>
  <ion-content class="textEstimation">
  <h3>Acerca de la estimación de CalculaDatos</h3>
		    <br><p>CalculaDatos es una aplicación que proporciona una estimación económica para brindar al usuario el valor de los datos personales.</p>
    		<p>Los resultados obtenidos mediante este ejercicio de simulación carecen de cualquier valor oficial y son generados con el único objetivo de crear conciencia en los titulares sobre la decisión de proporcionar o no sus datos y a su vez en los responsables o encargados sobre las responsabilidades en el tratamiento de los datos personales que realizan.</p>

  </ion-content>
</ion-view>
