<!-- 
 * Description:Pantalla de la politica de privacidad
 * Author:Getsir
 * Email:development@getsir.mx 
 -->
<ion-view view-title="<img src='img/logo.png'>" >
    </ion-nav-buttons>
  <ion-content class="textEstimation">
  	<h3>Política de Privacidad</h3>
  	<br>
    <p>La aplicación Calcula Datos no recaba ningún datos personal de los usuarios, la única información que solicita es un alias (nickname) que puede o no ser compartido en conjunto con los resultados globales de la sección de Retos, solicitando en todo momento previa autorización del usuario.</p>
	<p>Si usted tiene alguna duda o comentario respecto a la privacidad durante el uso de la aplicación, o preguntas relacionadas sobre nuestras prácticas, por favor póngase en contacto con nosotros al correo electrónico privacidad@getsir.mx</p>
  </ion-content>
</ion-view>
